body
    {
       background-color: peru;
    }
h1
    {
        color: maroon;
        font-family: Broadway;
        text-align: center;
        font-size : 300%;
    }
p
    {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 200%;
    }